<!doctype html>
<html>

<head>
    <!-- Мета теги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>AJAX / JQuery Demo</title>

    <!-- JS CDN-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

    <!-- CSS CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="~/script/JavaScript.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">

</head>

<body>
    <main role="main">

        <section class="jumbotron text-center" style="background: white">
            <div class="container">
                <h1 class="jumbotron-heading">AJAX / Jquery</h1>
                <p class="lead text-muted">Демонстрация работы запроса и ответа с сервера</p>
                <p>
                    <button type="button" id="mainButton" class="btn btn-primary">Запросить данные</button>
                    <button type="button" id="clearButton" class="btn btn-danger">Очистить</button>
                </p>
            </div>
        </section>

        <div class="row" id="content">
            <!-- Код из Json Javascript.js function(process()) -->
        </div>

            @*<div class="album py-5">
                <div class="container" id="root">
                    <h1 class="text-center" id="heading"></h1>
                    <div class="row" id="content">
                    </div>
                </div>
            </div>*@

    </main>

</body>

</html>